* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  overflow-x: hidden;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  background: radial-gradient(circle, hsl(180, 100%, 5%) 0%, #000 100%);
}

.page-wrapper {
  width: 100%;
  max-width: 1280px;
}

form {
  width: 100%;
  max-width: 65px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.input-wrapper {
  position: relative;
}

input,
button {
  font-size: 1.5rem;
}

input {
  width: 100%;

  padding: 1rem 8rem 1rem 1rem;

  outline: none;
  border-radius: 5px;
  border: 1px solid hsl(180, 100%, 10%);
  background-color: #111;

  color: #111;

  transition: border .1s;
}

input:hover,
input:focus {
  border: 1px solid hsl(180, 100%, 20%);
}

button {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  outline: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  background-color: hsl(180, 100%, 10%);
  color: #fff;
  transition: background-color .1s;
}

button:hover {
  background-color: hsl(180, 100%, 20%);
}

button:active {
  background-color: hsl(180, 100%, 10%);
}

.error {
  color: #f00;
}

.video-wrapper {
  overflow: hidden;
  position: relative;
  max-height: 0;
  /* box-shadow: 0 0 100px 0 hsl(180, 100%, 10%); */
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, .5);
}

video {
  vertical-align: middle;
  width: 100%;
}

video:focus {
  outline: none;
}

canvas {
  opacity: 0.25;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(1.4);
  width: 100%;
  height: 100%;
  -webkit-filter: blur(50px);
}


/* Source: https://loading.io/css/ */
.loady {
  pointer-events: none;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  color: hsl(180, 100%, 20%);
}
.loady div {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: hsl(180, 100%, 20%);
  animation: loady 1.2s linear infinite;
}
.loady div:nth-child(1) {
  top: 0;
  left: 0;
  animation-delay: 0s;
}
.loady div:nth-child(2) {
  top: 0;
  left: 15px;
  animation-delay: -0.4s;
}
.loady div:nth-child(3) {
  top: 0;
  left: 30px;
  animation-delay: -0.8s;
}
.loady div:nth-child(4) {
  top: 15px;
  left: 0;
  animation-delay: -0.4s;
}
.loady div:nth-child(5) {
  top: 15px;
  left: 15px;
  animation-delay: -0.8s;
}
.loady div:nth-child(6) {
  top: 15px;
  left: 30px;
  animation-delay: -1.2s;
}
.loady div:nth-child(7) {
  top: 30px;
  left: 0;
  animation-delay: -0.8s;
}
.loady div:nth-child(8) {
  top: 30px;
  left: 15px;
  animation-delay: -1.2s;
}
.loady div:nth-child(9) {
  top: 30px;
  left: 30px;
  animation-delay: -1.6s;
}
@keyframes loady {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}


.t1 button { animation: .5s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards t1button; }
.t1 input { animation: .5s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards t1input, .0s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s forwards t1input2; }
.t1 form { animation: .5s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards t1form; }
.t1 .loady { animation: .25s cubic-bezier(0.68, -0.55, 0.265, 1.55) .5s forwards t1loady; }
@keyframes t1button {
  from { opacity: 1; }
  to { opacity: 0; }
}
@keyframes t1input {
  from { color: #fff; }
  to { color: #111; }
}
@keyframes t1input2 {
  from { padding-left: 1rem; padding-right: 1rem; }
  to { padding-left: 0; padding-right: 0; }
}
@keyframes t1form {
  from { max-width: 480px }
  to { max-width: 65px }
}
@keyframes t1loady {
  from { opacity: 0; }
  to { opacity: 1; }
}

button { animation: .5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s forwards t1buttonreverse; }
input { animation: .5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s forwards t1inputreverse, .0s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s forwards t1input2reverse; }
form { animation: .5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s forwards t1formreverse; }
@keyframes t1buttonreverse {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes t1inputreverse {
  from { color: #111; }
  to { color: #fff; }
}
@keyframes t1input2reverse {
  from { padding-left: 0; padding-right: 0; }
  to { padding-left: 1rem; padding-right: 1rem; }
}
@keyframes t1formreverse {
  from { max-width: 65px }
  to { max-width: 480px }
}


.t2 form { animation: .5s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards t1form, .5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1.5s forwards t2form; }
.t2 .video-wrapper { animation: 1s cubic-bezier(1, 0, 0, 1) 2s forwards t2videowrapper; }
@keyframes t2form {
  from { transform: translateY(0) }
  to { transform: translateY(-200px) }
}
@keyframes t2videowrapper {
  from { max-height: 0; }
  to { max-height: 720px; } /* Actually video.scrollHeight */
}
